* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgba(93, 0, 255, 0.375) , rgba(34, 107, 31, 0.649));
}

html {
    font-family: Arial, Helvetica, sans-serif;
}